body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width:100%;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.cell {
  background-color: lightgray;
  width:  180px;
  height: 180px;
  border: 5px solid grey;
  color:#a5adb0;
  font-size:100px;
  display: flex;
  align-items: center;
  justify-content: center
}

.row {
  display:flex;
  flex-direction:row;
  justify-content: center
}

.block-value-0 {
  color:lightgray
  
}

.block-value-2 {
  background-color:#D7F950
}

.block-value-4 {
  background-color:#C5F700
}

.block-value-8 {
  background-color:#A4CE00
}

.block-value-16 {
  background-color:#80A100
}

.block-value-32 {
  background-color:#A88000
}

.block-value-64 {
  background-color:#D7A400
}

.block-value-128 {
  background-color:#FFC300
}

.block-value-256 {
  background-color:#600BC0
}

.block-value-512 {
  background-color:#8A4ECE
}

.block-value-1024 {
  background-color:#480891
}

.block-value-2048 {
  background-color:#380571
}